{% load thumbnail %}

{% with category=header.0 collection=header.1 %}
    <section class="product-collection-block {% if not collection %} misc{% endif %}">
        {% if header %}
            <header class="header">
                <h3 class="title">
                    <span class="category">
                        <a href="{% url 'product-list' %}?category={{ category.get_root.id }}">
                            {{ category.title }}
                        </a>
                    </span>

                    {% if collection %}
                        <span class="label">из коллекции</span>
                        <span class="name">{{ collection.title }}</span>
                    {% endif %}
                </h3>

                {% if collection.author %}
                    <span class="label">от</span>
                    <span class="author">{{ collection.author }}</span>
                {% endif %}
            </header>

            {% if show_description and collection.description %}
                <p class="collection-description">
                    {{ collection.description|linebreaksbr }}
                </p>
            {% endif %}
        {% endif %}

        {% spaceless %}
            <div class="products">
                {% for product in products %}
                    {% cycle '#4fa2ff' '#0abd34' '#f19f00' '#e86f2f' '#c260d7' '#8258ff' '#70b100' '#f6d000' '#e8a037' '#ff51a2' as card_color silent %}
                    {% if only_top_items and forloop.counter > items_limit %}
                        {% include 'products/blocks/product_block.html' with color=card_color is_hidden=True %}
                    {% else %}
                        {% include 'products/blocks/product_block.html' with color=card_color %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endspaceless %}

        {% if only_top_items and products|length > items_limit %}
            <a class="more" href="#">
                показать еще
            </a>
        {% endif %}
    </section>
{% endwith %}
