{% load thumbnail %}

<section class="product-block{% if is_hidden %} hidden{% endif %}" style="background-color: {{ color }}">
    <div class="info">
        {% thumbnail product.get_main_image.image '300x300' crop='center' as thumb %}
            <a class="image" href="{{ product.get_absolute_url }}">
                <img src="{{ thumb.url }}">
            </a>
        {% endthumbnail %}

        <div class="availability">
            В наличии: {{ product.available_amount }}
        </div>

        <div class="price" style="background-color: {{ color }}">
            <span class="title">Цена:</span>
            {% if product.sale_price_in_uah %}
                <del class="old-value">{{ product.price_in_uah|floatformat }}</del>
                <span class="new-value">{{ product.sale_price_in_uah|floatformat }}</span>
            {% else %}
                <span class="value">{{ product.price_in_uah|floatformat }}</span>
            {% endif %}
            <span class="label">грн</span>
        </div>
    </div>

    <h3 class="title">
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
    </h3>
</section>
