{% load thumbnail %}

{% if product_images %}
    <div class="product-gallery-block">
        <div class="preview">
            <img src="{{ product_images.0.image.url }}" alt="image"/>
            <div class="zoom-navigator"></div>
        </div>

        <div class="large-preview"></div>

        {% if product_images|length > 1 %}
            {% spaceless %}
                <ul class="nav">
                    {% for product_image in product_images %}
                        <li{% if forloop.first %} class="selected"{% endif %}>
                            <a href="{{ product_image.image.url }}">
                                {% thumbnail product_image.image '200x200' crop='center' as thumb %}
                                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                                {% endthumbnail %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endspaceless %}
        {% endif %}
    </div>
{% endif %}
