{% load static %}
{% load sekizai_tags %}

{% if top_categories %}
    <nav class="top-categories-block">
        <ul>
            <li{% if selected_category_id == None %} class="selected"{% endif %}>
                <a href="{% url 'product-list' %}">Всего понемногу</a>
            </li>
            {% for category in top_categories %}
                <li{% if selected_category_id == category.id %} class="selected"{% endif %}>
                    <a href="{% url 'product-list' %}?category={{ category.id }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <!-- нет ни одной категории с товарами -->
{% endif %}
