html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.4 Open Sans, sans-serif;
    background: url(images/main-bg.jpg);
}

a {
    color: #2382ff;
    transition: all .3s;

    &:hover {
        color: #4e99ff;
    }
}

.page-content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}

.clear {
    clear: both;
}
