.page-header {
    position: relative;
    z-index: 1;

    .content-wrap {
        width: 1000px;
        margin: 0 auto;
        padding: 20px 20px 0;
        box-sizing: border-box;
        position: relative;
    }

    .page-title {
        margin: 0 30px 0 0;
        font: 36px Griffy, sans-serif;
        color: #444;
        display: inline-block;
        vertical-align: middle;

        .logo {
            width: 120px;
            height: 120px;
            vertical-align: middle;
            margin-right: 10px;
        }

        a {
            color: #444;
            text-decoration: none;
            outline: none;
        }
    }

    .contact-me {
        position: absolute;
        right: 10px;
        top: 50px;

        .label {
            display: block;
            font-size: 14px;
            color: #777;
        }

        .email {
            font: 24px/1 "Times New Roman", "Liberation Serif", serif;
            color: #444;
            text-decoration: none;
        }
    }
}
