{% load static %}
{% load compress %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html>
<head lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title>{% block title %}HappyMe - лучшие ткани и все, что надо для шитья{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        <meta name="description" content="Мы предлагаем лучшие ткани и аксессуары для шитья: ножницы, линейки, пуговицы, вышивки и многое другое. Убедитесь сами! ;)">
        <meta property="fb:admins" content="kottenator">
        <meta property="og:type" content="website">
        <meta property="og:title" content="HappyMe - лучшие ткани и все, что надо для шитья">
        <meta property="og:description" content="Мы предлагаем лучшие ткани и аксессуары для шитья: ножницы, линейки, пуговицы, вышивки и многое другое. Убедитесь сами! ;)">
        <meta property="og:url" content="{{ SITE_URL }}">
        <meta property="og:image" content="{{ SITE_URL }}{% static 'common/layout/images/happyme-large-logo.png' %}">
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'common/layout/images/favicon.png' %}">
    <link rel="author" href="https://plus.google.com/+RostyslavBryzgunov">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Griffy|Open+Sans:400,300,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    {% render_block 'css' postprocessor 'compressor.contrib.sekizai.compress' %}

    {% addtoblock 'css' %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'common/layout/base.scss' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'common/social/social_buttons.scss' %}">
    {% endaddtoblock %}

    {% addtoblock 'js' %}
        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'underscore/underscore.js' %}"></script>
        <script src="{% static 'common/layout/base.js' %}"></script>
    {% endaddtoblock %}

    {% include 'common/social/social_buttons_init.html' %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file -->
    <!--[if lt IE 9]>
    {% compress js %}
        <script src="{% static 'html5shiv/dist/html5shiv.js' %}"></script>
        <script src="{% static 'respond/src/respond.js' %}"></script>
    {% endcompress %}
    <![endif]-->
</head>
<body>
    {% include 'common/layout/header.html' %}

    <div class="page-content">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'common/layout/footer.html' %}

    {% render_block 'js' postprocessor "compressor.contrib.sekizai.compress" %}
</body>
</html>
