{% load static %}
{% load sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'common/layout/footer.scss' %}"/>
{% endaddtoblock %}

<footer class="page-footer">
    <div class="copyrights">© {% now 'Y' %} - все права принадлежат нам! :)</div>
</footer>
