{% load static %}
{% load sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'common/layout/header.scss' %}"/>
    <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/top_categories_block/top_categories_block.scss' %}"/>
{% endaddtoblock %}

<header class="page-header">
    <div class="content-wrap">
        <h1 class="page-title">
            <a href="/">
                <img class="logo" src="{% static 'common/layout/images/happyme-logo.png' %}" alt="logo"/>
                HappyMe
            </a>
        </h1>

        {% if not debug %}
            <div class="social-buttons">
                {% include 'common/social/facebook_like_button.html' with href=SITE_URL %}
                {% include 'common/social/vk_share_button.html' with href=SITE_URL %}
                {% static 'common/layout/images/happyme-large-logo.png' as logo_url %}
                {% include 'common/social/pinterest_pin_button.html' with href=SITE_URL image=SITE_URL|add:logo_url description="HappyMe: шей с нами!" %}
            </div>
        {% endif %}

        <div class="contact-me">
            <span class="label">пишите мне:</span>
            <a class="email" target="_blank" href="mailto:lens@bigmir.net">lens@bigmir.net</a>
        </div>

        {% include 'products/blocks/top_categories_block.html' %}
    </div>
</header>
