.top-categories-block {
    margin: 20px -14px -1px;
    padding: 3px;
    position: relative;
    background: linear-gradient(to left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 100%), url(images/cotton-bg.png) repeat-x 0 0, #67b76b;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.2);

    &:before, &:after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 12px;
        z-index: -1;
        background: url(images/cotton-corners.png) no-repeat;
    }

    &:before {
        left: -26px;
        background-position: 0 0;
    }

    &:after {
        right: -26px;
        background-position: -40px 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0 10px;
        border-top: 1px dashed rgba(255, 255, 255, 0.5);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);

        li {
            display: inline-block;
            font-size: 14px;

            a {
                display: inline-block;
                padding: 3px 12px;
                margin: 3px 0;
                text-decoration: none;
                color: #fff;
                line-height: 20px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
            }

            &.selected a {
                font-weight: normal;
                background-color: rgba(0, 0, 0, .2);
                border-radius: 20px;
            }
        }
    }
}
