.product-detail {
    padding: 20px;

    > .header {
        .title {
            font: 300 32px/1 Open Sans, sans-serif;
            margin: 0 0 20px;
        }

        .nav {
            font-size: 12px;
            color: #777;
            list-style: none;
            margin: 0 0 4px;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;

                &:after {
                    content: '»';
                    margin: 0 4px;
                }
            }
        }
    }

    .product-gallery-block {
        .large-preview {
            width: 576px;
        }
    }

    > .info {
        overflow: hidden;
        padding-left: 20px;
    }

    .properties {
        display: table;
        width: 100%;
        margin-bottom: 20px;

        > dl {
            font-size: 14px;
            display: table-row;

            dt, dd {
                display: inline-block;
                vertical-align: middle;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }

            dt {
                width: 10px;
                white-space: nowrap;
                display: table-cell;
                color: #777;
                padding: 6px 10px 6px 0;
            }

            dd {
                display: table-cell;
                padding: 6px 0;
            }

            &.price {
                .old-value {
                    text-decoration: line-through;
                    opacity: .4;
                }

                .new-value {
                    background-color: #ff7700;
                    color: #fff;
                    display: inline-block;
                    padding: 0 4px;
                }
            }
        }
    }

    .description {
        font-size: 14px;
    }

    > .product-collection-block {
        padding: 10px 10px 0;
        margin: 22px -20px 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
}
