.social-buttons {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 40px;
    border: 1px dashed rgba(0, 0, 0, 0.2);

    .social-button {
        float: left;
        margin-right: 12px;

        &.facebook-button {
            position: relative;
            top: -2px;
        }

        &.pinterest-button {
            margin-right: 28px;

            a {
                transition: none;
            }
        }
    }
}
