<div class="social-button pinterest-button">
    <a href="//www.pinterest.com/pin/create/button/?url={{ href }}&media={{ image }}&description={{ description }}"
       data-pin-do="buttonPin" data-pin-config="beside" data-pin-color="red">
        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" />
    </a>
</div>
