{% if not debug %}
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=422651227772624&version=v2.0" id="facebook-jssdk"></script>
    <script src="//vk.com/js/api/share.js?90"></script>
    <script async src="//assets.pinterest.com/js/pinit.js"></script>
{% endif %}
