.product-collection-block {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    &:last-child {
        border-bottom: none;
    }

    > .header {
        text-align: center;
        margin: 10px 0;

        .title {
            display: inline-block;
            margin: 0;
            padding: 0;
            font-weight: normal;

            .category {
                font-size: 14px;
                display: inline-block;
                padding: 4px 8px;
                color: rgba(0, 0, 0, .4);
                background-color: #ffec99;

                a {
                    color: rgba(0, 0, 0, .4);
                    text-decoration: none;
                    display: block;
                }
            }

            .name {
                font: normal 26px Griffy, "Times New Roman", "Liberation Serif", sans-serif;
            }
        }

        .label {
            font-style: normal;
            font-size: 14px;
            color: #999;
            text-transform: lowercase;
        }

        .author {
            font-style: normal;
            font-size: 14px;
        }

        .description {
            color: #999;
            font-size: 14px;
            margin: 10px 0 20px;
        }
    }


    .collection-description {
        width: 700px;
        margin: 20px auto;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        border: 1px dashed rgba(0, 0, 0, 0.2);
    }

    .more {
        display: block;
        color: #999;
        border: 1px solid rgba(0, 0, 0, .1);
        border-bottom: none;
        font-size: 14px;
        margin: 0 auto;
        padding: 6px;
        position: relative;
        text-align: center;
        text-decoration: none;
        top: 10px;
        width: 120px;
        transition: all .3s;

        &.hidden {
            display: none;
        }
    }

    &:hover .more {
        border-color: transparent;
        background-color: #67b76b;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #76d17b;
        }
    }

    .products {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        > .product-block:not(.hidden) {
            display: inline-block;
            vertical-align: top;
            width: 25%;
        }
    }
}
