$gallery-size: 320px;
$thumbnail-size: 98px;

.product-gallery-block {
    float: left;
    width: $gallery-size;
    position: relative;

    .preview {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        width: $gallery-size;
        height: $gallery-size;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .1);

        img {
            max-width: $gallery-size;
            max-height: $gallery-size;
            vertical-align: middle;
        }

        .zoom-navigator {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            background-color: #ffec99;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility 0s ease .3s;
        }
    }

    .large-preview {
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        margin-left: 20px;
        width: 600px;
        background: #fff no-repeat;
        border: 1px solid rgba(0, 0, 0, .1);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility 0s ease .3s;
    }

    &.zooming {
        .preview .zoom-navigator,
        .large-preview {
            visibility: visible;
            transition: opacity .3s ease, visibility 0s;
        }

        .preview .zoom-navigator {
            opacity: .6;
        }

        .large-preview {
            opacity: 1;
        }
    }

    // thumbnails navigation
    .nav {
        list-style: none;
        margin: 10px -10px -10px 0;
        padding: 0;

        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            border: 1px solid rgba(0, 0, 0, .1);
            transition: box-shadow .3s;

            // arrow
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: 100%;
                margin-left: -8px;
                margin-bottom: -8px;
                border: 8px solid;
                border-color: transparent transparent #ffec99 transparent;
                transition: margin-bottom .3s;
            }

            &.selected, &:hover {
                box-shadow: 0 0 0 2px #ffec99;

                &:before {
                    margin-bottom: 0;
                }
            }

            a {
                display: block;
                position: relative;
                outline: none;
                width: $thumbnail-size;
                height: $thumbnail-size;

                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: top;
                }
            }
        }
    }
}
