.product-block {
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &:not(:hover) {
        background-color: #fff !important;
    }

    > .info {
        position: relative;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);

        > .image {
            outline-color: #fff;

            img {
                max-width: 100%;
                vertical-align: top;
                transition: all .3s;
            }
        }

        > .price {
            background-color: #67b76b;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
            font-size: 14px;
            line-height: 18px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 6px 10px;
            box-shadow: 0 0 0 8px #fff;
            transition: box-shadow .1s, background-color .3s, color .3s;

            > .title {
                display: none;
            }

            > .value,
            > .old-value,
            > .new-value {
                margin-right: 4px;
            }

            > .old-value {
                text-decoration: line-through;
            }

            > .new-value {
                background-color: #ff7700;
                color: #fff;
                display: inline-block;
                padding: 0 4px;
            }
        }

        > .availability {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 14px;
            line-height: 18px;
            padding: 6px 10px;
            color: #222;
            background-color: #ffec99;
            text-align: left;
            text-transform: lowercase;
            opacity: 0;
            transition: opacity .3s;
        }
    }

    > .title {
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        margin: 0;
        padding: 0;

        a {
            display: block;
            text-decoration: none;
            margin-top: 10px;
            color: #222;
            transition: none;
        }
    }

    &.hidden {
        display: none;
    }

    &:hover {
        background-color: #4e99ff;

        > .info {
            box-shadow: none;

            > .price {
                box-shadow: none;
                background-color: #fff !important;
                color: #222;
                text-shadow: none;
            }

            > .availability {
                opacity: 1;
            }
        }

        > .title a {
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
        }
    }
}
