{% extends 'common/layout/base.html' %}

{% load static %}
{% load thumbnail %}
{% load sekizai_tags %}

{% block title %}{{ product.title }} / {{ product.category.title }} / HappyMe{% endblock %}

{% block meta %}
    <meta name="description" content="{{ product.title }} ({{ product.category.title }}), артикул: {{ product.id }}{% if product.material %}, материал: {{ product.material.title }}{% endif %}{% if product.size %}, размер: {{ product.size.title }}{% endif %}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ product.title }} / {{ product.category.title }} / HappyMe">
    <meta property="og:description" content="{{ product.title }} ({{ product.category.title|lower }}), артикул: {{ product.id }}{% if product.material %}, материал: {{ product.material.title }}{% endif %}{% if product.size %}, размер: {{ product.size.title }}{% endif %}">
    <meta property="og:url" content="{{ SITE_URL }}{% url 'product-detail' product.id %}">
    <meta property="og:image" content="{{ SITE_URL }}{{ product.images.all.0.image.url }}">
{% endblock %}

{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/product_gallery_block/product_gallery_block.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/product_collection_block/product_collection_block.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/product_block/product_block.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/pages/product_detail_page/product_detail_page.scss' %}"/>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
        <script src="{% static 'imagesloaded/imagesloaded.pkgd.js' %}"></script>
        <script src="{% static 'products/blocks/product_gallery_block/product_gallery_block.js' %}"></script>
        <script src="{% static 'products/blocks/product_collection_block/product_collection_block.js' %}"></script>
        <script src="{% static 'products/pages/product_detail_page/product_detail_page.js' %}"></script>
    {% endaddtoblock %}

    <section class="product-detail">
        <header class="header">
            {% spaceless %}
                <ul class="nav">
                    {% for category in categories %}
                        <li>
                            {% if forloop.first %}
                                <a href="{% url 'product-list' %}?category={{ category.id }}">{{ category.title }}</a>
                            {% else %}
                                <span>{{ category.title }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endspaceless %}

            <h2 class="title">
                {{ product.title }}
            </h2>
        </header>

        {% include 'products/blocks/product_gallery_block.html' with product_images=product.images.all %}

        <div class="info">
            <div class="properties">
                <dl>
                    <dt>Артикул:</dt>
                    <dd>{{ product.id }}</dd>
                </dl>

                {% if product.collection %}
                    <dl>
                        <dt>Коллекция:</dt>
                        <dd>{{ product.collection.title }}</dd>
                    </dl>
                {% endif %}

                <dl>
                    <dt>В наличии:</dt>
                    <dd>
                        {{ product.available_amount }}
                        {% if product.available_amount == 0 %}
                            - <strong>нет в наличии</strong>
                        {% endif %}
                    </dd>
                </dl>

                <dl class="price">
                    <dt>Цена:</dt>
                    <dd>
                        {% if product.sale_price_in_uah %}
                            <del class="old-value">{{ product.price_in_uah|floatformat }}</del>
                            <span class="new-value">{{ product.sale_price_in_uah|floatformat }}</span>
                        {% else %}
                            <span class="value">{{ product.price_in_uah|floatformat }}</span>
                        {% endif %}
                        <span class="label">грн</span>
                    </dd>
                </dl>

                {% if product.manufacturer %}
                    <dl>
                        <dt>Производитель:</dt>
                        <dd>
                            {{ product.manufacturer.title }}
                            ({{ product.manufacturer.country }})
                        </dd>
                    </dl>
                {% elif product.collection.manufacturer %}
                    <dl>
                        <dt>Производитель:</dt>
                        <dd>
                            {{ product.collection.manufacturer.title }}
                            ({{ product.collection.manufacturer.country }})
                        </dd>
                    </dl>
                {% endif %}

                {% if product.material %}
                    <dl>
                        <dt>Материал:</dt>
                        <dd>{{ product.material.title }}</dd>
                    </dl>
                {% endif %}

                {% if product.color %}
                    <dl>
                        <dt>Цвет:</dt>
                        <dd>
                            {{ product.color.title }}
                            {% if product.color.code %}
                                ({{ product.color.code }})
                            {% endif %}
                        </dd>
                    </dl>
                {% endif %}

                {% if product.size %}
                    <dl>
                        <dt>Размер:</dt>
                        <dd>{{ product.size.title }}</dd>
                    </dl>
                {% endif %}
            </div>

            {% if product.description %}
                <p class="description">{{ product.description|safe|linebreaksbr }}</p>
            {% endif %}
        </div>

        <div class="clear"></div>

        {% if collection_data %}
            {% include 'products/blocks/product_collection_block.html' with show_description=True header=collection_data.0 products=collection_data.1 %}
        {% endif %}
    </section>
{% endblock %}
