{% extends 'common/layout/base.html' %}

{% load static %}
{% load thumbnail %}
{% load sekizai_tags %}

{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/product_block/product_block.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/blocks/product_collection_block/product_collection_block.scss' %}"/>
        <link rel="stylesheet" type="text/x-scss" href="{% static 'products/pages/product_list_page/product_list_page.scss' %}"/>
    {% endaddtoblock %}

    {% addtoblock 'js' %}
        <script src="{% static 'products/blocks/product_collection_block/product_collection_block.js' %}"></script>
        <script src="{% static 'products/pages/product_list_page/product_list_page.js' %}"></script>
    {% endaddtoblock %}

    <div class="product-list">
        {% if collections %}
            {% for header, products in collections.items %}
                {% include 'products/blocks/product_collection_block.html' with only_top_items=True %}
            {% endfor %}
        {% else %}
            <p class="empty-message">У меня закончился весь товар :( Но я обязательно привезу еще!</p>
        {% endif %}
    </div>
{% endblock %}
